a* {
    box-sizing: border-box;
}

body {
    background-color: #FFFFC2;
}

/**Header**/

#header-nav {
    //border: 1px solid red;
    background-color: white;
    border-radius: 0;
    text-align: center;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    //border: 1px solid;
    margin:0;
    padding:0;
    font-family: 'Gorditas', cursive;
}

/**Content**/

.content {
    text-align: justify;
}

@media (max-width: 767px) {
    .content {
	border: 50px solid transparent;
	-webkit-border-image: url(images/fondo.png) 33% stretch;
	-o-border-image: url(images/fondo.png) 33% stretch;
	border-image: url(images/fondo.png) 33% stretch;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .content {
	border: 100px solid transparent;
	-webkit-border-image: url(images/fondo.png) 33% stretch;
	-o-border-image: url(images/fondo.png) 33% stretch;
	border-image: url(images/fondo.png) 33% stretch;
    }
}

@media (min-width: 992px) {
    .content {
	border: 150px solid transparent;
	-webkit-border-image: url(images/fondo.png) 33% stretch;
	-o-border-image: url(images/fondo.png) 33% stretch;
	border-image: url(images/fondo.png) 33% stretch;
}
    }
} 

/**Footer**/

.panel-footer {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 0;
  width: 100%;
}

.panel-footer div.row {
  margin-bottom: 10px;
}

#Contacto {
  font-weight: bold;
}

#Fono {
  text-align: center;
}


#Direccion {
  text-align: center;
}


#Correo {
  text-align: center;
}